
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #EEEEEE;
    padding: 20px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin-right: 60px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 480px) {
    nav a {
        text-align: left;
        font-size: 10px; 
    }
}


.header-nickname {
    margin: 0 auto;
    font-weight: bold;
    color: #333;
    font-size: 20px; 
    text-align: center; 
}

@media (max-width: 480px) {
    .header-nickname {
        display: none;
    }
}

.social-icons a {
    margin-left: 15px;
    color: #333;
    text-decoration: none;
}

.about {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #d8e2f1;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.bio p {
    line-height: 1.6;
    font-size: 1.1em;
}

.bio a {
    color: #EEEEEE;
    text-decoration: none;
}


.posts {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
}

article {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

article h2 {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 5px;
}

.date {
    color: #777;
    font-size: 0.9em;
}

.tags {
    color: #555;
    font-size: 0.9em;
    font-style: italic;
}
