<footer class="site-footer">
    <div class="container-footer">
        <div class="footer-grid">
            <div class="footer-section">
                Find me on 
                <a href="https://x.com/pad1ryoshi" target="_blank">X/Twitter</a> / <a href="https://github.com/pad1ryoshi" target="_blank">Github</a> / <a href="https://www.linkedin.com/in/rodrigo-padilha-5663152b6" target="_blank">LinkedIn</a>
            </div>
        </div>
        <div class="footer-copyright">
            © 2025 pad1ryoshi. All rights reserved.
        </div>
    </div>
</footer>