<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="favicon" href="/assets/img/favicon.png" type="image/png">    
    <link rel="apple-touch-icon" href="/assets/img/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include nav.html %}
    
    <main class="container">
        {{ content }}
        
    </main>

    {% include footer.html %}
</body>
</html>